$blue: rgb(0, 0, 255);
$red: rgb(255, 0, 0);
$green: rgb(0, 255, 0);
$yellow: rgb(255, 255, 0);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$gray: rgb(189, 189, 189);
$dark: rgb(26, 26, 26);
$light: rgb(242, 242, 242);
$light-gray: rgb(242, 200, 242);
$pink: rgb(255, 0, 221);
$purple: rgb(95, 0, 255);
$orange: rgb(255, 287, 0);
