$blue: #0a0af2;
$red: #f20a0a;
$green: #0af20a;
$yellow: #f2f20a;
$white: #ffffff;
$black: #000000;
$gray: #f2f2f2;
$dark: #1a1a1a;
$light: #f2f2f2;
$light-gray: #f2f2f2;
$pink: #f20af2;
$purple: #a90af2;
$orange: #f28a0a;
