@import './styles/global.scss';

.App {
  margin: $margin-md;
}

.menu {
  padding: $margin-xs;
  margin-right: $margin-xs;
}

.logo {
  font-size: $font-md;
  font-weight: bold;
  padding: $margin-xs;
  margin-right: $margin-xs;
}