@import "./styles/global.scss";

.App {
  margin: 20px;
}

.menu {
  text-decoration: none;
  color: $black;
}

.logo {
  font-size: $font-md;
  font-weight: bold;
  padding: $margin-xs;
  margin-right: $margin-xs;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: $white;
  padding: 20px; /* Top, Right, Bottom, Left */
}

.rightButtons {
  margin: 0 20px;
  & > :not(:first-child) {
    margin-left: 3px;
  }
}
